.col-sm-8
  %h3 Interval Setup
.col-sm-4{style:"padding-top:20px"}
  = link_to "Add TimeSchedule", new_seller_time_schedule_path(@seller), class: "btn btn-primary btn-md pull-right"
%table.table.table-bordered.table-stripe.table-hover
  %thead.thead-inverse
    %tr
      %th Start Time
      %th End Time
      %th Blocked Time
      %th Actions
  %tbody
    -@seller.time_schedules.each do |ts|
      %tr
        %td= ts.start_time.strftime("%H:%M")
        %td= ts.end_time.strftime("%H:%M")
        %td= ts.breacked_time
        %td
          = link_to edit_seller_time_schedule_path(@seller, ts), class: "btn btn-sm btn-primary" do
            %i.glyphicon.glyphicon-edit

          = link_to seller_time_schedule_path(@seller,ts), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" do
            %i.glyphicon.glyphicon-remove
